body {
    font-family: 'Merriweather', serif;
}

#condition {
    text-transform: capitalize;
}

.imperialTemp:after {
    content: '\2109';
}
.metricTemp:after {
    content: '\2103';
}
.imperialSpeed:after {
    content: 'mph';
}
.metricSpeed:after {
    content: 'kph'
}